<div class="center jumbotron">
  <h1>Welcome to GustiLogistics</h1>

  <%= link_to "Log in now!", login_path, class: "btn btn-lg btn-primary" %>
</div>

<%= image_tag("gustiamo_logo.png", alt: "Gustiamo logo") %>
