<% if !flash.empty? %>
  <div id="error_explanation">
    <ul>
      <% flash.each do |key, value| %>
        <li><%= content_tag(:div, value, class: "flash #{key}") %>
      <% end %>
    </ul>
  </div>
<% end %>
