@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 40px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  resize: vertical;
  h1 {
    margin-bottom: 10px;
  }
  .btn {
	  color: white;
  }
}

.btn, .btn-primary {
  margin-top: -15px;
  margin-bottom: 30px;
}

/* Products Index Page */

tbody tr, a { cursor: pointer; }

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.6em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
	text-decoration: none;
  }
}

/* Product Show Page */

#product-page-title {
  width: 100%;
  padding-bottom: 30px;
  #product-description {
    padding: 20px 0 5px 0;
    margin: 0;
    width: 100%;
  }  
  #enroute-form {
    margin: auto;
    position: absolute;
    right: 20px;
    top: 100px;
    .btn, .btn-primary { 
      margin: 0;
    } 
  } 
  h4 {
    width: 38%;
    text-align: left;
  }
}

#product-header {
  width: 15%;
  padding: 0;
  margin-bottom: 30px;
  h4 {
    text-align: left;
    margin: auto;
    padding-bottom: 3%;
    width: 25em;
  }
  :last-child {
    margin-bottom: 12px;
  }
}

#product-top-table {
  th {
    text-align: left;
  }
  th, td {
    padding: 0px;
  }
}

#header-tags {
  font-size: 20px
}

#top-customers-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  #last-six {
    display: flex;
    flex-direction: column;
    outline: 1px solid black;
    padding: 0px 20px 0px 20px;
    width: 42%;
    table {
      margin: 0 auto;
      border-collapse: separate;
      border-spacing: 4px;
    }
  }
  #previous-six {
    display: flex;
    flex-direction: column;
    outline: 1px solid black;
    padding: 0px 20px 0px 20px;
    width: 42%;
    table {
      margin: 0 auto;
      border-collapse: separate;
      border-spacing: 4px;
    }
  }
  p {
	  margin: 0; 
  }
}

#product-show-bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  #product-edit-home {
    display: flex;
    flex-direction: row;
  }
  #product-navigators {
    display: flex;
    flex-direction: row;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* form */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#notice {
  font-size: 16px;
  margin: 5px;
}

#alert {
  width: 400px;
  padding: 0px;
  color: #ff0000;
  font-size: 16px;
  margin: 5px;
}

.field_with_errors {
  display: inline;
}

.container {
  width: 100%;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $gray-light;
  a { 
    color: $gray;
	&:hover {
	  color: $gray-darker;
	}
  }
  small {
    float: left;
  }
  ul {
    float: right;
	list-style: none;
	  li {
	    float: left;
	    margin-left: 15px;
	  }
  }
}

/* Search Form */

#products_search {
  p {
    text-align: center;
    label {
      font-size: 20px;
      font-weight: normal;
    }  
  }
}
