@import "bootstrap-sprockets";
@import "bootstrap";

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

h1 {
	text-align: center;	
}

.center {
	margin-left: auto;
	margin-right: auto;
}

th {
  text-align: center;
}

table {
  th {
    text-align: center;
  }
  border-spacing: 10px;
  border-collapse: separate;
}
