<form action="/products/<%= @product.id %>" method="post" class="ordered">
  <input type="hidden" name="ordered" value="<%= !@product.ordered %>" />
  <button type="submit" class="btn btn-primary">Mark Ordered</button>
</form>
